<h1 class="bg-dark text-white text-center">Tin tức thể thao trong ngày</h1>
<div class="container mt-3">
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
          Djokovic: ‘Tôi là tay vợt hay nhất’
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body">
            Novak Djokovic tin bản thân là tay vợt hay nhất sau khi thắng trận c
            hung kết Wimbledon hôm 11/7 để san bằng kỷ lục 20 Grand Slam. "Tôi tự xem bản thân là ng
            ười giỏi nhất và tin vào điều đó", ATP dẫn lời Novak Djokovic sau trậnchung kết Wimbledo
            n. "Nếu không tin vào bản thân, tôi sẽ không tự tin nói về việc vô địch Grand Slam và tạ
            o nên lịch sử. Nhưng dù tôi có phải người hay nhất mọi thời không, tôi vẫn để cuộc tranh
            luận đó cho người khác. Tôi từng nói trước đây rằng rất khó để so sánh các kỷ nguyên qu
            ần vợt khác nhau".
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
          HLV Southgate: 'Tôi chọn thứ tự luân lưu'
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
            HLV Gareth Southgate nhận hoàn toàn trách nhiệm về thứ tự cầu thủ sú
            t luân lưu, khi Anh thua Italy ở chung kết Euro tối 11/7. "Chúng tôi cực kỳ thất vọng",
            Southgate nói với BBC. "Các cầu thủ đã cố gắng cật lực, chạy không ngừng nghỉ. Có lúc ch
            úng tôi chơi tốt, cũng có lúc không cầm bóng đủ lâu, đặc biệt từ khi bắt đầu hiệp hai. C
            húng tôi đã vượt xa mong đợi, nhưng hôm nay phòng thay đồ quá buồn bã. Trách nhiệm thuộc
            về tôi. Tôi đã chọn thứ tự cầu thủ đá luân lưu, dựa theo thành tích trong các buổi tập.
            Không ai tự nhận quyền sút cả. Chúng tôi thắng cùng nhau, và hôm nay không thể thắng th
            ì tất cả đều phải nhận trách nhiệm. Nhưng trong loạt đá luân lưu, lỗi hoàn toàn thuộc về
            tôi".
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
          Italy vô địch Euro 2021
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
            Sau hơn nửa thế kỷ chờ đợi kể từ lần đăng quang gần nhất ở Euro 1968
            , Italy lại bước lên đỉnh vinh quang của bóng đá châu Âu. Thầy trò Roberto Mancini còn l
            àm nên lịch sử khi trở thành đội tuyển đầu tiên thắng liền hai trận knock-
            out bằng loạt đá luân lưu ở vòng chung kết giải vô địch châu lục. Trên sân Wembley hôm q
            ua, Jorginho không thể thành công với cú đá ở lượt sút thứ năm như khi hạ Tây Ban Nha hô
            m 7/7. Nhưng lần này, tới lượt thủ môn Gianluigi Donnarumma trở thành người hùng, lần lư
            ợt từ chối Jadon Sancho rồi Bukayo Saka ở các lượt sút thứ tư và năm của tuyển Anh, để đ
            ịnh đoạt phần thắng 3-2 cho Italy.
        </div>
      </div>
    </div>
  </div>
</div>
